.messages {
    display: flex;
    justify-content: center;
    color: #555;
    .container {
        width: 1400px;
        padding: 50px 0px;

        .title {
           display: flex; 
            justify-content: space-between;
            align-items: center;

            
        }
        table {
            width: 100%;

            tr {
                height: 100px;
            
                th {
                    text-align: left;
                }
                td {
                   padding: 10px;
                   &:first-child{
                    font-weight: bold;

                   }
                   &:nth-child(2),&:nth-child(3) {
                    color: rgb(109, 108, 108) ;
                   }
                }
                button {
                    background-color: #1dbf73;
                    color:white;
                    font-weight: 500;
                    border:none;
                    padding: 10px;
                    cursor: pointer;
                }
                &.active {
                    background-color:#d0fcd6f8
                }
            }


        }
    }

}